body {
  background-color: white;
}

.loading-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading {
 width: 200px;
}

.header-li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-section h1 {
  text-align: center;
  justify-content: center;
}

.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.search-header-container{
  background-color: white;
  height: 32%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.albuns {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 280px;
  text-decoration: none;
  width: 100%;

}

.albuns h2 {
  color: white;
  text-align: center;
  text-decoration: none;
}

.albun-card-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 65px;
  margin-top: 15px;
  text-decoration: none;
  width: 100%;
}

.album-card {
  align-items: center;
  border: 2px solid lightgrey;
  box-shadow: 1px 1px 10px rgba(181, 189, 180, 0.63);
  display: flex;
  flex-direction: row;
  font-family: Epilogue , sans-serif;
  font-size: small;
  height: 100px;
  margin: 12px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  width: 650px;
}

.album-header-container {
  background-color: white;
  height: 27%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.album-info-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.album-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.intra-card {
  color: hsl(180, 6%, 20%);
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: small;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.login-page {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h5 {
  color: rgb(85, 85, 85);
}

.album-musics {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  margin-top: 15px;
  padding-top: 280px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  width: 100%;
}

.music-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: small;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.music {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: small;
  height: 100%;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  text-decoration: none;
  width: 100%;
}

.favorite-musics {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  margin-top: 15px;
  padding-top: 280px;
  text-decoration: none;
  width: 100%;
}

.profile-image {
  border-radius: 50%;
  text-align: center;
}
