.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-ul {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.header-li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px;
  text-decoration: none;
}

.search-section {
  display: flex;
  flex-direction: column;
}

.search-section h1 {
  text-align: center;
}

.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.albuns {
  display: flex;
  flex-direction: column;
}

.albuns h2 {
  text-align: center;
}

.albun-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 15px;
  text-decoration: none;
  width: 250px;
}
